body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: none;
}

#front, #back {
  width: 5in;
  height: 7in;
  flex-shrink: 0;
}

#front {
  .border {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /*padding: 5px;*/
  }

  #b1 {
    border: black solid 3px;
    border-radius: 15px;
    padding: 5px;
  }
  #b2 {
    border: black solid 1px;
    border-radius: 10px;
  }
  #b3 {
    /*border: 10px solid;*/
    /*border-image: url('/static/border.svg') 25% space;*/
    display: grid;
    grid-template:
            ". n ." 16px
            "e c w" auto
            ". s ." 16px / 16px auto 16px;

    .gridBorder {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .gridBorder.side {
      flex-direction: column;
      img {
        transform: rotate(90deg);
      }
    }
  }
  #b4 {
    grid-area: c;
    border: black solid 1px;
    border-radius: 5px;

    display: grid;
    grid-template: 100px auto 100px / 50px auto 50px;
  }

  .center {
    width: 100%;
    height: 100%;

    grid-area: 1 / 1 / -1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heart {
    color: rgb(183,8,21);
  }

  p {
    margin: 8px;
  }

  .corner {
    justify-self: center;
    align-self: center;

    h1, h2 {
      margin: 0;
      line-height: 1;
    }
  }

  #tl {
    grid-area: 1 / 1 / 2 / 2;
  }

  #br {
    grid-area: -2 / -2 / -1 / -1;
    transform: rotate(180deg);
  }

  img {
    width: 16px;
  }

  #date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span {
      font-size: 1.5em;
    }
  }
}

#back {
  background-image: url('/static/back.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
