body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: none;

  font-size: 8pt;
}

a {
  text-decoration: none;
}

#front, #back {
  width: 5in;
  height: 7in;
  flex-shrink: 0;
}

#front {
  .border {
    width: 100%;
    height: 100%;
    /*padding: 5px;*/
    img {
      width: 16px;
    }
  }

  #b1 {
    border: black solid 3px;
    border-radius: 15px;
    padding: 5px;
  }
  #b2 {
    border: black solid 1px;
    border-radius: 10px;
  }
  #b3 {
    /*border: 10px solid;*/
    /*border-image: url('/static/border.svg') 25% space;*/
    display: grid;
    grid-template:
            ". n ." 16px
            "e c w" auto
            ". s ." 16px / 16px auto 16px;

    .gridBorder {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .gridBorder.side {
      flex-direction: column;
      img {
        transform: rotate(90deg);
      }
    }
  }
  #b4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    grid-area: c;
    border: black solid 1px;
    border-radius: 5px;

    padding: 0 25px;
  }

  .title {
    font-weight: bold;
  }

  .schedule {
    > div {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      .antline {
        flex-grow: 1;
        height: 0.9rem;
        /*border-bottom: 1px dotted;*/
        background-image: linear-gradient(to right, black 20%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
      }

      *:last-child {
        font-style: italic;
      }

      *:first-child {
        font-style: normal;
      }
    }
  }

  .people {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
  }
}

#back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-image: url('/static/program_back.png');
  background-size: 100% 100%;

  color: white;

  padding: 1in;

  p {
    text-align: justify;
  }

  .schedule {
    > div {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      .antline {
        flex-grow: 1;
        height: 0.9rem;
        /*border-bottom: 1px dotted;*/
        background-image: linear-gradient(to right, white 20%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
      }
    }
  }
}
