@import url('/static/fonts.css');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  box-sizing: content-box;
  font-family: "Eczar", serif;
  max-width: 750px;
  width: 100%;
  margin: 8px auto;
  padding: 50px;
  text-align: center;
  color: #231f20;
  font-weight: 400;
  background: #FCF5E5;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IM Fell English SC", serif;
  font-weight: normal;
  margin: 8px 0;
}

h1 {
  font-size: 42pt;
  letter-spacing: 6px;
}

h2 {
  font-size: 24pt;
}

a, input[type=submit], input[type=image], .hoverGlow {
  cursor: pointer;
  color: inherit;
  transition-property: filter, border-bottom;
  transition-duration: 200ms;
}

a:hover, input[type=submit]:hover, input[type=image]:hover, .hoverGlow:hover {
  filter: drop-shadow(0px 0px 1.5px black);
}

input[type=search], input[type=submit] {
  width: 100%;
  line-height: 2;
  margin: 5px 0;
  
  &[type=submit] {
    color: white;
    border: none;
    border-radius: 5px;
    background: darkred;
  }
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

dialog {
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  border: black solid 2px;
  border-radius: 5px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#settings {
  fieldset {
    text-align: right;
    * {
      text-align: left;
    }
  }

  &::backdrop {
    background-image: linear-gradient(
            45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green
    );
    opacity: 0.75;
  }
}

header {
  .suites {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    > img {
      width: 100px;
    }
  }
  > #tabbar {
    margin: 15px 0 50px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: none;
  }
}

footer {
  margin-top: 50px;

  > h1 {
    width: fit-content;
    margin: auto;
  }

  > p {
    font-size: 8pt;
  }
}

.tab {
  color: inherit;
  text-decoration: none;
  border-bottom: 0 solid;
  /*transition: all 200ms;*/
}

.underline, .tab:hover {
  border-bottom: 2px solid;
}

.markdown {
  text-align: justify;
  text-indent: 2em;
}

#home {
  .location {
    border-top: 1px #AAA solid;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: left;

    > h3 {
      text-align: right;
    }

    > * {
      flex-basis: 50%;
    }
  }
}

#our_story {
  img {
    display: inline;
    width: 60%;
  }
}

#wedding_party {
  > div {
    display: flex;
    flex-wrap: wrap;

    > div > div {
      margin: 25px;

      > h3 {
        font-weight: bold;
      }

      > p {
        text-align: justify;
        text-indent: 2em;
      }
    }

    @media(min-width: 500px) {
      > div {
        flex-basis: 50%;
      }
    }
  }
}

#photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  figure {
    margin: 0;
    width: 75%;
    place-self: center;
    background: white;
    border: solid 10px white;

    transition-property: width, transform;
    transition-duration: 200ms;
  }

  figure:hover {
    width: min(200%, 100vw);
    transform: rotate(0deg) !important;
    z-index: 1;
  }

  figure > img {
    margin-bottom: 10px;
  }

  figure > div {
    display: grid;
    grid-template-columns: 1fr 15px;
    align-items: end;
  }
}

#registry {
  text-align: left;

  .centered {
    text-align: center;
  }

  #registryItems {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /*grid-auto-rows: 300px;*/

    .disabled {
      filter: brightness(60%);
    }

    .disabled.hoverGlow:hover {
      filter: brightness(60%) drop-shadow(0px 0px 1.5px black);
    }

    > div {
      height: 100%;
      display: block;
      overflow: hidden;
      border: 1px solid lightgray;
      border-radius: 5px;

      background: white;

      img {
        aspect-ratio: 1/1;
      }

      .details {
        height: 10rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  dialog > div {
    display: grid;
    grid-template: 15px auto / auto 15px;

    p {
      margin: 0;
    }

    > :nth-child(1) {
      grid-area: 1 / 2;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    > :nth-child(2) {
      grid-area: 1 / 1 / -1 / -1;
      img {
        max-width: 25rem;
      }
    }
  }
}

#rsvp {
  max-width: 500px;
  margin: auto;

  form {
    text-align: left;
  }
}
